<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <h1>Edit Status</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @status %> |
      <%= link_to 'Back', statuses_path %>
    </div>
</div>
